body{
    background-color: #ccc;
    margin: 0;
    padding: 5px;
}

.errorMsg{
    color: red;
    margin: 5px;
}

a {
    text-decoration: none;   /* remove underline */
    color: #007bff;          /* optional: set custom color */
}

label{
    font-size: 1.5rem;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;                /* show pointer on hover */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

header, div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    padding: 20px;
}

header h1{
    color: #ac8dc6;
    text-shadow: #00008B 1px 1px;
    text-align: center;
    font-size: 3rem;

    margin: 0;
}

#dashboard_navbar{
    list-style: none;
    display: flex;
    justify-content: center;
}

#dashboard_div h1{
    color: #ac8dc6;
    text-shadow: #00008B 1px 1px;
}

#dashboard_div form{
    margin: 10px;
}

#dashboard_div textarea{
    padding: 10px;
}

#topicTitle{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1.5rem;
}

#topicDescription{
    width: 100%;
    height: 100px;
    border-radius: 6px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.items{
    font-size: 1.5rem;
    font-family: "Sofia", serif;
}

.items a{
    padding: 20px;
}

.items a:hover{
    color: #47be64;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid white;
    padding: 8px 12px;
    text-align: left;
}

td{
    font-size: 1.2rem;
}

th {
    background-color: #ccc;
    color: black;
    font-size: 1.5rem;
}

tr:nth-child(even) { background-color: #f2f2f2; }