body {
    background-color: #ccc;
    display: flex;           /* use Flexbox to center the content */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    flex-direction: column;
    height: 100vh;           /* make body take full viewport height */
    margin: 0;
}

#sourceCode{
    width: 550px;
    overflow-x: auto;
}

a {
    text-decoration: none;   /* remove underline */
    color: #007bff;          /* optional: set custom color */
}

label {
    font-size: 1.5rem;
}

div{
    background-color: white;
    width: 500px;
    /*height: 500px;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.errorMsg{
    color: red;
    margin: 0;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;                /* show pointer on hover */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

#index_div {
    display: flex;              /* make it a flex container */
    flex-direction: column;     /* stack text vertically */
    justify-content: center;
    align-items: center;

    text-align: center;         /* center text lines */
    font-size: 1.5rem;
}

#login_div > form, #register_div > form{
    display: flex;              /* make it a flex container */
    flex-direction: column;     /* stack text vertically */
    margin: 10px;
}

#login_div > h1, #register_div > h1{
    display: flex;              /* make it a flex container */
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1.5rem;
}
