.welcome-message {
  color: rgb(120, 120, 120);
  text-align: center;
}

.chat-messages-container{
  flex-grow: 1;
  margin-top: 20px;

  /* To make the container scrollable */
  overflow: scroll;
  /* Delete the width */
  scrollbar-width: none;
}

.chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}