@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header, footer{
    font-family: "kanit", serif;
    font-weight: 400;
    font-size: 25px;
}

body{
    font-family: "Inconsolata", serif;
    font-weight: 400;
    font-size: 15px;
}



header{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav{
    box-sizing: border-box;
    width: 960px;
    height: 100px;
    border-radius: 10px;
    background-color: cadetblue;
}

footer{
    background-color: cadetblue;
}

#nav-links, #footer-items{
    display: flex;
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: #ffcb80;
}

article{
    background-color: #ccabcc;
}

#nav-links li{
    padding: 0 20px;
}

#footer-items{
    justify-content: space-between;
    padding: 0 20px;
}

#home{
    flex-grow: 4;
}

#course-grid{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template: 100px auto / repeat(3, 1fr);
    grid-gap: 15px 10px;
}

.course_description{
    color: #2a9d8f;
}

#page_title{
    grid-column: 1/4;
}

.course_item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas:
            "image number"
            "image title"
            "image description";
    grid-gap: 15px 10px;
    padding: 10px;
}

.course_image {
    grid-area: image;
}
.course_number {
    grid-area: number;
}
.course_title{
    grid-area: title;
}
.course-description {
    grid-area: description;
}

@media only screen and (max-width: 640px) {
    #course-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #page_title {
        grid-column: 1/3;
    }
    nav{
        width: 640px;
    }
}

@media only screen and (max-width: 400px) {
    #course-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #page_title {
        grid-column: 1/2;
    }
    nav{
        width: 400px;
    }
}












